<p id="notice"><%= notice %></p>

<p>
  <strong>Unit name:</strong>
  <%= @unit_measurement.unit_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @unit_measurement.description %>
</p>

<%= link_to 'Edit', edit_unit_measurement_path(@unit_measurement) %> |
<%= link_to 'Back', unit_measurements_path %>
